@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Storage Challenge</h1>
    <p class="lead">Develop Azure Storage solutions</p>
</div>

<div class="row">
    @{
        int testType = (int)ViewBag.TestType;
        bool advanced = ViewBag.Advanced.ToString().ToLower() == "true";
        if (advanced)
        {
            <input type="hidden" name="storageConnection" value="@ViewBag.StorageConnection" />
            <input type="hidden" name="sqlConnection" value="@ViewBag.SQLConnection" />
            <input type="hidden" name="mysqlConnection" value="@ViewBag.MySQLConnection" />
            <input type="hidden" name="cosmosdbConnection" value="@ViewBag.CosmosDBConnection" />
            <input type="hidden" name="searchConnection" value="@ViewBag.SearchConnection" />
        }
    }
    <input type="hidden" id="testType" value="@testType" />
    <input type="hidden" id="advanced" value="@advanced" />
    @if ((testType & 3) > 0)
    {
        <div class="col-md-4">
            <h2>Stoage Accounts</h2>
            <p>Test your code to upload and download files from a storage account.</p>
            @if (advanced)
            {
                <p>Set the following app settings in the web.config file:</p>
                <ul>
                    <li>StorageConnection</li>
                </ul>
                <p>Refresh this page then click the Test button to verify your results.</p>
            }
            else
            {
                <p>Enter the connection string for your storage account here:</p>
                <div class="form-group">
                    <label for="storageConnection">Storage Account</label>
                    <input type="text" class="form-control" id="storageConnection" />
                </div>
            }
            <button id="storageTest">Test</button>
        </div>
    }
    @if ((testType & 12) > 0)
    {

        <div class="col-md-4" >
            <h2>Relational Databases</h2>
            <p>Test your code to read and write relational data.</p>
            @if (advanced)
            {
                <p>Set the following connection string(s) in the web.config file:</p>
                <ul>
                    @if ((testType & 4) == 4)
                    {
                        <li>SQLConnection</li>}
                    @if ((testType & 8) == 8)
                    {
                        <li>MySQLConnection</li>}
                </ul>
                <p>Refresh this page then click the Test button to verify your results.</p>
            }
            else
            {
                <p>Enter the connection string(s) for your relational data here:</p>
                if ((testType & 4) == 4)
                {
                    <div class="form-group">
                        <label for="sqlConnection">SQL Server connection string</label>
                        <input type="text" class="form-control" id="sqlConnection" />
                    </div>
                }
                if ((testType & 8) == 8)
                {
                    <div class="form-group">
                        <label for="mysqlConnection">MySQL connection string</label>
                        <input type="text" class="form-control" id="mysqlConnection" />
                    </div>
                }
            }
            <button id="sqlTest">Test</button>

        </div>
    }
    @if ((testType & 48) > 0)
    {

        <div class="col-md-4">
            <h2>NoSQL Data</h2>
            <p>Test your code to work with non-relational data</p>
            @if (advanced)
            {
                <p>Set the following connection string(s) in the web.config file:</p>
                <ul>
                    @if ((testType & 16) == 16)
                    {
                        <li>CosmosDBConnection</li>}
                    @if ((testType & 32) == 32)
                    {
                        <li>SearchConnection</li>}
                </ul>
                <p>Refresh this page then click the Test button to verify your results.</p>
            }
            else
            {
                <p>Enter the connection string(s) for your relational data here:</p>
                if ((testType & 4) == 4)
                {
                    <div class="form-group">
                        <label for="cosmosdbConnection">Cosmos DB connection string</label>
                        <input type="text" class="form-control" id="cosmosdbConnection" />
                    </div>
                }
                if ((testType & 8) == 8)
                {
                    <div class="form-group">
                        <label for="searchConnection">Search connection string</label>
                        <input type="text" class="form-control" id="searchConnection" />
                    </div>
                }
            }
            <button id="nosqlTest">Test</button>

        </div>
    }
</div>
<div class="container">
    <div class="col-md-5">
        <table class="table table-striped"  id="results"></table>
    </div>
    <div class="col-md-offset-2 col-md-5" id="details">
            <h2>Something</h2>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/TestScript.js"></script>
}